{% extends 'base.html' %}

{% block content %}

    <h1> IFSC Details Finder </h1>
    <br>
    <br>
    <h4><b> Bank Name: </b> {{ BANK }} </h4>
    <h4><b> Bank IFSC: </b> {{ IFSC }}</h4>
    <h4><b> Bank Branch: </b> {{ BRANCH }}</h4>
    <h4><b> Bank Address: </b> {{ ADDRESS }}</h4>
    <h4><b> Bank Contact: </b> {{ CONTACT }}</h4>
    <h4><b> Bank City: </b> {{ CITY }}</h4>
    <h4><b> Bank code: </b> {{ BANKCODE }}</h4>
    <h4><b> Bank District: </b> {{ DISTRICT }}</h4>
    <h4><b> Bank State: </b> {{ STATE }}</h4>

{% endblock content %}}
